$proxima-bold: 'Proxima Nova Bold', sans-serif;
$proxima-regular: 'Proxima Nova Regular', sans-serif;
$orange: #bea67c;
$grey: #848181;
$white: #fff;
$bezh-white: #d0d0d0;
$grey: #848181;
$dark-grey: #303030;
$black: #000;